<component name="libraryTable">
  <library name="mybatis.base.bundle.descriptor" type="repository">
    <properties maven-id="org.mybatis:base-bundle-descriptor:9" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/base-bundle-descriptor-9.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/lib/base-bundle-descriptor-9-sources.jar!/" />
    </SOURCES>
  </library>
</component>